.container {
  padding: 50px;
  display: flex;
}

.left {
  flex: 2;
}

.right {
  flex: 1;
}

.imgContainer {
  width: 100px;
  height: 100px;
  position: relative;
  margin-left: 15px;
}

.table {
  width: 95%;
  border-spacing: 20px;
}

.name {
  font-weight: 600;
  color: crimson;
  font-size: 18px;
}

.extras{
  color: gray;
  font-size: 18px;
  margin-left: 15px;
}

.price{
  color: gray;
  font-size: 18px;
  margin-left: 15px;
}

.quantity{
  padding: 5px 35px;
  border: 1px solid white;
}

.total {
  font-weight: 600;
  font-size: 18px;
}

.wrapper {
  width: 90%;
  max-height: 100%;
  background-color: sandybrown;
  padding: 50px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: black;
}

.title {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 18px;
}

.totalTextTitle {
  margin-right: 5px;
}

.button {
  height: 30px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
  background-color: crimson;
}

@media screen and (max-width: 480px) {
  .container{
    flex-direction: column;
    padding: 20px;
  }

  .table{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
  }

  .imgContainer{
    width: 30vw;
    height: 30vw;
    margin: 0;
  }

  .trTitle{
    display: none;
  }

  .tr{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  .name, .total{
    font-size: 24px;
  }

  .extras, .price, .quantity{
    font-size: 21px;
    color: black;
  }

  .price::before{
    content: "Price: ";
    font-weight: bold;
    color: black;
  }

  .quantity::before{
    content: "Quantity: ";
    font-weight: bold;
  }

  .total::before{
    content: "Total: ";
    font-weight: bold;
  }

  .wrapper{
    width: 100%;
  }
}